<div style="margin-left: 2em;">
<h1> SOBRE NOSOTROS </h1>
<p style="text-font: italic">Hola, somos Canarysport la mejor empresa de ropa y artículos de deporte de toda canarias.
Hacemos envíos a la todas las islas para que puedas practicarlo con el mejor material que es el nuestro. 
Si te suscribes a nuestra pagina y eres residente canario te hacemos un 10% de descuento 
¿ A que esperas para ponerte en forma con Canarysport ?</p>
</div>
