<div style="margin-left: 2em;">
    <div>
    <h1>PANEL DE ADMINISTRACIÓN</h1>
    <p>Bienvenido al panel de administracón, esta sección esta hecha para los administradores de la web Canary CanarySport,
    a continuación se  muestran una serie de botones en los que, cada uno respectivamente, podremos ir al panel de administración
    de los usuarios, al panel de administración de la ropa y al panel de administración de los materiales <p>
    </div>
    <div class="col-12">
        <div class="col-4 h-100">
        <h3>USUARIOS</h3>
        <p>Haciendo click en el siguiente boton accederemos al panel de administración de usuarios</p>
        <a class="enlaceboton" href="/usuarios">Panel de administración de usuarios</a>
        </div>
        <br>
        <div class="col-4 h-100">
        <h3>PRENDAS</h3>
        <p>Haciendo click en el siguiente boton accederemos al panel de administración de la ropa</p>
        <a class="enlaceboton" href="/ropas">Panel de administración de la ropa</a>
        </div>
        <br>
        <div class="col-4 h-100">
        <h3>ARTICULOS</h3>
        <p>Haciendo click en el siguiente boton accederemos al panel de administración de material deportivo</p>
        <a class="enlaceboton" href="/articulos">Panel de administración de material deportivo</a>
        </div>
    </div>




</div>