<%
rol = session[:usuario_rol].to_s.downcase
time = Time.now
dia = time.strftime("%A")
today = ""
case dia
when "Monday"
    today = "Lunes"
when "Tuesday"
    today = "Martes"
when "Wednesday"
    today = "Miércoles"
when "Thursday"
    today = "Jueves"
when "Friday"
    today = "Viernes"
when "Saturday"
    today = "Sábado"
when "Sunday"
    today = "Domingo"
end
%>

<div class="container-fluid text-center" >
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <img src="/images/logo.jpeg" class="img-rounded img-responsive" alt="EdgeWaterSurfing logo">
            <p class="time">Hoy es <%=today%>, <%=time.strftime("%k:%M %p") %></p>
            <%if session[:usuario_id] != nil %>
                <p class="side">Estás logeado como <%=rol%></p>     
            <%end%>
            <p><a href="/about">Sobre nosotros</a></p>
            <p><a href="/terminos">Términos</a></p>
            
            
        </div>
        <div class="col-sm-10 text-left" style="text-align: justify; text-justify: inter-word;">
            <h1>Bienvenido/a a CanarySport</h1>
            <h2>¿vas a hacer deporte?</h2>
            <p>En CanarySport tenemos una gran variedad de ropa y calzado para que puedas practicar tu deporte favorito en las mejores condiciones. También 
            ofrecemos material deportivo para que puedas practicar tu actividad preferida.  Enviamos a a todas las islas canarias. Disfrute de todos 
            nuestros materiales y ropas deportivas al mejor precio y de las mejores marcas del mercado, venga y pierdase entre las multitud de productos 
            que le pueden facilitar la realizacion de deporte, entre y pierdase entre nuestros productos seguro que tenemos el que necesita</p> 
            <div class="contenedor">
                <img id="imagenIndex" src="/images/foto1.jpeg" class="img-rounded img-responsive" alt="Surf 1" style="padding-top: 3px;">
                <div class="overlay">
                    <div class="text">Hacer deporte mejora tu vida</div>
                </div>
            </div>
            <h2>¿Necesitas equipo?</h2>
            <p>En nuestra tienda encotraras el mejor material deportivo con el cual poder realizar tu deporte favorito de forma fácil, además de encontrar 
            unos precios muy interesantes. Tenemos ropa deportiva de las mejores marcas del mercado y cualquier talla, ya que el deporte lo puede hacer cualquier persona.</p>
            <div class="contenedor">
                <img id="imagenIndex" src="/images/foto3.jpeg" class="img-rounded img-responsive" alt="Surf 2" style="padding-top: 3px;">
                <div class="overlay">
                    <div class="text">Mejor el material deportivo</div>
                </div>
            </div>
            <h2>¡Contacta con nosotros!</h2>
            <p>Contacta con nosotros si tienes alguna duda, sugerencia o queja.
            Ve a <a href="/contacto">contacto</a></p>
        </div>
    </div>
</div>